{{#each errors}}
    <dialog id="materialert" class="materialert">
        <span>{{msg}}</span>
        <button onClick="closeAlert()" id="close-btn" type="button" class="close-alert">×</button>
    </dialog>
{{/each}}
