<footer class="page-footer grey lighten-1">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5>StoryShare</h5>
                <p class="grey-text text-lighten-4">The place where you can share all your stories with your
                    friends!
                </p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2020 Frederico Borlido
        </div>
    </div>
</footer>