<div class="col s12 m6 l4">
    <div class="card story-post">
        <div class="card-content">
            <a href="#" class="card-title custom-text">{{title}}</a>
            {{!-- <p>{{truncate content 150}}</p> --}}
            <p class="truncate">{{content}}</p>
        </div>
        <div class="card-action">
            <a href="#">Edit</a>
            <a href="#">Delete</a>
        </div>
    </div>
</div>