<header class="navbar-fixed">
    <!-- Dropdown Structure -->
    <ul id='dropdown1' class='dropdown-content'>
        <li><a href="/profile/mystories">My Stories</a></li>
        <li class="divider" tabindex="-1"></li>
        <li><a href="/profile/manage">Manage Account</a></li>
    </ul>
    <nav class="cyan darken-1">
        <div class="container">
            <div class="nav-wrapper">
                <a href="/dashboard" class="left brand-logo our-logo">StoryShare</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a class="dropdown-trigger" data-target="dropdown1">Profile<i
                                class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a href="/users/logout">LogOut</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>