<div class="col s12 m6 l4">
    <div class="card story-post">
        <div class="card-content">
            <a href="#" class="card-title custom-text">Card Title</a>
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient
                because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
            <a href="#">Jon Snow</a>
        </div>
    </div>
</div>