<div class="col s12 m6 l4">
    <div class="card story-post">
        <div class="card-content">
            <a href="#" class="card-title custom-text">{{title}}</a>
            <p>{{truncate content 150}}</p>
        </div>
        <div class="card-action">
            <a href="#">{{author}}</a>
        </div>
    </div>
</div>