<div class="card">
    <div class="card-content">
        <h3>Log In</h3>
        <div class="divider"></div>
            {{> errorsPartial}}
        <div class="row">
            <form class="col s12" action="/users/login" , method="POST">
                <div class="row field">
                    <div class="input-field col s12">
                        <input id="email" type="email" class="validate" name="email" value={{e_value}}>
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row field">
                    <div class="input-field col s12">
                        <input id="password" type="password" class="validate" name="password" value={{p_value}}>
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row bottom">
                    <div class="col s12">
                        <button type="submit" class="btn cyan darken-1 waves-effect waves-light login-btn">Log
                            In</button>
                    </div>
                    <small>Need an account? <a href="/users/register">Register here</a></small>
                </div>
            </form>
        </div>
    </div>
</div>