<div class="container main-container">
    <div class="card">
        <div class="card-content">
            <h3>Welcome to StoryShare!</h3>
            <p>The place where you can share all your stories with your friends!</p>
            <br>
            <div class="divider"></div>
            <div class="section">
                <a href="/users/register" class="btn cyan darken-1 waves-effect waves-light welcome-btn">Register</a>
                <a href="/users/login"
                    class="btn cyan-text text-darken-1 grey lighten-4 waves-effect waves-custom welcome-btn">Log In</a>
            </div>
        </div>
    </div>
</div>