.main-container {
    width: 500px !important;
    text-align: center;
    margin-top: 50px;
}

.card-content h3 {
    margin-top: 7px;
}

.welcome-btn {
    width: 200px;
}

.waves-effect.waves-custom .waves-ripple {
    /* The alpha value allows the text and background color
    of the button to still show through. */
     background-color: rgba(0, 172, 193, 0.65);
}

.field {
    margin: 0 !important;
}

.login-btn {
    width: 90%;
}

/* ---- Email ---- */
/* label focus color */
.input-field input[type=email]:not(.browser-default):focus:not([readonly]) + label {
    color: #00acc1 !important;
}
/* label underline focus color */
.input-field input[type=email]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid #00acc1 !important;
    box-shadow: 0 1px 0 0 #00acc1 !important;
}

/* ---- Password ---- */
/* label focus color */
.input-field input[type=password]:not(.browser-default):focus:not([readonly]) + label {
    color: #00acc1 !important;
}
/* label underline focus color */
.input-field input[type=password]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid #00acc1 !important;
    box-shadow: 0 1px 0 0 #00acc1 !important;
}

/* ---- Text ---- */
/* label focus color */
.input-field input[type=text]:not(.browser-default):focus:not([readonly]) + label {
    color: #00acc1 !important;
}
/* label underline focus color */
.input-field input[type=text]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid #00acc1 !important;
    box-shadow: 0 1px 0 0 #00acc1 !important;
}

.bottom a {
    color: #00acc1;
}

.materialert{
    position: relative;
    min-width: 350px;
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: all 0.1s linear;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.materialert .material-icons{
    margin-right: 10px;
}
.materialert .close-alert{
    -webkit-appearance: none;
    border: 0;
    cursor: pointer;
    color: inherit;
    background: 0 0;
    font-size: 22px;
    line-height: 1;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7);
    filter: alpha(opacity=40);
    margin-bottom: -5px;
    position: absolute;
    top: 16px;
    right: 5px;
}